/* 
  reference for flex
  https://css-tricks.com/snippets/css/a-guide-to-flexbox/

  reference for border styling
  https://www.w3schools.com/css/css_border.asp
*/

body {
  max-width: 600px;
  min-width: 360px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

main, ul {
  min-height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
}

footer {
  height: 30px;
}
