<!DOCTYPE html>
<html lang="en">
  <%- include('../layouts/head', {title: 'Favorites'}) %> 

<body>
  <%- include('../layouts/header') %> 
  
  <main>
  <h1>Favorites:</h1>

  <ul>
    <% for (let name of names) { %>
      <li><%= name %></li>
    <% } %>
  </ul>
  </main>
  <%- include('../layouts/footer') %> 
</body>
</html>